<table class="table table-hover">
  <thead>
    <tr>
        <th>Title</th>
        <th>Commenter</th>
        <th>Type</th>
        <th>Content</th>
        <th>Delete</th>
    </tr>
  </thead>
  <tbody>
  <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.target.stamp.title %></td>
      <td><%= comment.user.username %></td>
      <td><%= comment.target_type %></td>
      <td><%= comment.content %></td>
      <td>
        <div class="btn-group">
            <%= link_to "Delete", [:admin, comment], :confirm => "Do you really want to delete this item?", :method => :delete, :class => "btn btn-danger" %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

