
<!doctype html>
<html>
  <head>
    <title>startglory</title>
    <%= render "mail_style" %>
  </head>

  <body style="background-color:#004b3a">
  <div style="background-color:#e4faf5; -webkit-border-radius:10px; -moz-border-radius:10px ;border-radius:10px; margin:10px; padding: 20px; text-align: center;">
    <h1><%= @subject %></h1>
    <%= link_to "Visit Startglroy", "http://startglory.com" %>
    <br>
    <% @ranked_compliment_groups.limit(30).each_with_index do |compliment, index| %>
      <%= link_to user_profile_url(compliment.sender) do %>
        <%= image_tag compliment.sender.image_url(width: 100, height: 100), :class => "round shadow" %>
        <h4><%= index + 1 %>. <%= compliment.sender.username %></h4>
      <% end %>
    <% end %>
    </div>
  </body>
</html>
