<!doctype html>
<html>
<head>
  <title>startglory</title>
  <%= render "mail_style" %>
</head>
<body style="background-color:#004b3a">
  <div class="content-bg">
  <%= link_to user_profile_url(@joined_user) do %>
    <%= image_tag @joined_user.image_url(width: 100, height: 100), :class => "round shadow" %>
  <% end %>
  <h2><%= @subject %></h2>
  <br>
  <br>
  <%= link_to  "Glorify #{@joined_user.username}", new_compliment_url("compliment[receiver_id]" => @joined_user.id), :class => "btn-glorify" %>
  <br>
  <br>
  <%= link_to  "Visit StartGlory", "http://startglory.com" %>
</body>

