<%= form_tag people_path, :method => :get, :class => "form-search" do %>
  <%= text_field_tag :q, "", :class => "input-medium search-query", :id => "search" %>
  <%= submit_tag "Search", :class => "btn btn-primary" %>
  <%= check_box_tag :all, "1", params[:all].present?,:style => 'visibility: hidden'  %> 
<% end %>
<% if params[:q].present? %>
  <div class="search_result">
    result about '<%=params[:q]%>'(<%=@friends_count%>)
  </div>
<% end %>

<ul class="nav nav-tabs" id="user-follower-menu">
  <% if current_user.present? %>
    <li class="<%= "active" if current_user.present? && !params[:all].present? %>" >
      <%= link_to 'Your Follower', people_path %>
      </li>
    <% end %>
    <li class="<%= "active" if params[:all].present? || !current_user.present? %>" >
    <%= link_to 'All', people_path(:all => 1)%>
    </li>
  </ul>

  <% if @friends_count == 0 %>

    <%= render 'search/no_data' %>

  <% elsif %>
    <div id="friends">
      <%= render :partial => "people_list", :locals => {:users => @friends} %>
  </div>
  <%= paginate @friends %>
<% end %>
