<%= form_tag people_path, :method => :get, :class => "form-search" do %>
  <%= text_field_tag :q, "", :class => "input-medium search-query" %>
  <%= submit_tag "Search", :class => "btn btn-primary" %>
<% end %>
<div id="friends">
  <%= render @friends %>
</div>
<%= paginate @friends %>
