<% users.each do |user| %>
  <% if is_mine == true %>
    <div class="mine_stamp round shadow">
  <% else %>
    <div class="stamp_people round shadow">
    <% end %>
      <%= link_to user_profile_path(user) do %>
        <div class="image">
          <%= image_tag user.image_url, :class => "img-small img-circle image-shadow" %>
        </div>
        <div class="name">
          <%= user.username %>
          <br />
          <% if UserStamp.find_by(:stamp_id => stamp_id, :user_id => user.id).present?%>
            (<%= UserStamp.find_by(:stamp_id => stamp_id, :user_id => user.id).score  %> Points)
          <% end %>
        </div>
      <% end %>
    <% if is_mine == false %>
      <div class="button-group pull-right">
        <%= render :partial => '/followings/following_button', :locals => {:user => user} %>
       <%= render :partial => 'compliments/glorify', :locals => {:user_id => user.id }%>
      </div>
    <% end %>
  </div>
<% end %>
