<div id="stamp-show" class="round border">
  <p id="notice"><%= notice %></p>
  <%= render @stamp %>
  <h5><%= @stamp.user_stamps.count %> people have this glory</h5>
</div>
<div id='friends'>
  <%= render @users %>
</div>
<%= paginate @users %>
