<div id="stamp-show" class="round border">
  <p id="notice"><%= notice %></p>
  <%= render @stamp %>
  <h5><%= @stamp.user_stamps.count %> people have this glory</h5>
</div>

<% if current_user.present? && UserStamp.where(:stamp_id => params[:id], :user_id => current_user.id).present? %>
  <%= render :partial => 'stamp_user', :locals => {:users => [current_user], :is_mine => true, :stamp_id => @stamp.id} %>
<% end %>

<div id='friends'>
  <%= render :partial => 'stamp_user', :locals => {:users => @users, :is_mine => false, :stamp_id => @stamp.id} %>
</div>
<%= paginate @users %>
