<%= form_for [:admin, @compliment], :html => { :class => "form-horizontal" } do |f| %>

  <%= render "shared/error_messages", :target => @compliment %>

  <div class="control-group">
    <label class="control-label">attribute.name</label>
    <div class="controls">
      <label><%= f.text_field :name %></label>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit (@compliment.new_record?? 'Create' : 'Update' ), :class => "btn btn-primary" %>
    <%= link_to "cancel", admin_compliments_path, :class = "btn" %>
  </div>
<% end %>
