<% feed.each do |f|  %>
  <%= render :partial => 'news_feeds/news_feed', :locals => {:news_feed => f.news_feed} %>

  <% if false %>
  <%= link_to compliment_path(f.id) do %>
    <% if f.sender_id == params[:id].to_i %>
     <article class="round shadow sender-box">
    <% else %>
     <article class="round shadow receiver-box">
     <% end %>

     <%= render :partial => 'layouts/time_view', :locals => {:compare_time => f.created_at, :type => "news_feed"} %>

      <% compliment = f %>
      <div class="compliment-item">
        <div class="sender">
          <%= image_tag compliment.sender.image_url, :class => "img-circle img-small" %>
        </div>
        <div class="stamp">
          <%= render compliment.stamp %>
        </div>
        <div class="receiver">
          <%= image_tag compliment.receiver.image_url, :class => "img-circle img-small" %>
        </div>
      </div>
      <h5><%= compliment.description %></h5>
    </article>
  <% end %>
   <% end %>
<% end %>    

