<h2><%= @user.username %></h2>
<%= @user.email %> <br>

<% if current_user.present? %>
  <div id=following_menu>
    <%= render :partial => '/followings/following_menu', :locals => {:user => @user} %>
  </div>
<% end %>


<h3>stamps received</h3>

<% @user.received_compliments.each do |compliment| %>
  <%= link_to "#{compliment.stamp.title} by #{compliment.sender.username}", compliment %> 
  <% if current_user.present? && compliment.sender != current_user %>
    | <%= link_to "I agree", new_compliment_path(:compliment => {:receiver_id => @user.id, :stamp_id => compliment.stamp_id}) %>
  <% end %>
<% end %>


<h3>stamps sent</h3>

<% @user.sent_compliments.each do |compliment| %>
  <%= link_to "#{compliment.stamp.title} to #{compliment.receiver.username}", compliment %>
<% end %>

<h3>Following</h3>

<% @user.followees.each do |followee| %>
  <%= link_to followee.username, user_profile_path(followee) %>
<% end %>

<h3>Followed by</h3>

<% @user.followers.each do |follower| %>
  <%= link_to follower.username, user_profile_path(follower) %>
<% end %>

<% if current_user.present? && @user != current_user %>
  <h3>Stamps I gave <%= @user.username %></h3>
  <% @user.received_compliments.where(:sender_id => current_user.id).each do |compliment| %>
    <%= link_to compliment.stamp.title, compliment %>
  <% end %>
<% end %>
