
<div class="user-profile round border">
    
  <div class="profile-row">

    <div class="profile-picture">
      <%= image_tag @user.image_url(width:90, height:90), :class => "img-normal img-polaroid" %>
    </div>

    <div class="profile-name">
      <%= @user.username %>
    </div>
    <div class="sns-button-group">
      <%= link_to "http://www.facebook.com/#{@user.uid}" do %>
          <%= image_tag "http://www2.myacpa.org/images/stories/Facebook-icon.png", :style => "width:50px;height:50px" %>
      <% end %>
      <% if current_user != @user %>
        <%= render :partial => '/followings/following_button', :locals => {:user => @user} %>
      <% end %>
    </div>
  </div>
  <br>
  <div class="clear-both"></div>
  <% if @user.introduce.present? %>
    <div class="introduce border round">
      <%= @user.introduce_html %>
    </div>
  <% end %>

  <div class="button-group">
    <% if current_user == @user %>
      <%= link_to "Edit", edit_user_registration_path, :class=> "btn" %>
      <%= link_to "Logout", destroy_user_session_path, :method => :delete,  :class => "btn btn-danger" %>
    <% else %>
      <%= render :partial => 'compliments/glorify', :locals => {:user_id => @user.id }%>
    <% end %>
  </div>


  <ul id="stamps" data-page=1 data-user_id=<%=params[:id]%>>
    <%= render :partial => 'user_stamp', :locals => {:user_stamps => @user_stamps } %>
  </ul>

  <% if !@user_stamps.last_page? %>
  <div class="btn btn-more"> more </div>
<% end %>
  <div class="bottom-button-group">
    <%= link_to "Following(#{@user.followings.count})", user_profile_followings_path(@user, :type => "followees"), :class => "btn" %>
    <%= link_to "Followers(#{@user.followers.count})", user_profile_followings_path(@user, :type => "followers"), :class => "btn" %>
  </div>
</div>

<div id="personal_feed">

  <%= render :partial => 'personal_feed', :locals => {:feed => @personal_feed } %>
</div>
<%= paginate @personal_feed %>
