<div class="user-profile round border">
    
  <div class="profile-row">

    <div class="profile-picture">
      <%= image_tag @user.image_url(width:90, height:90), :class => "img-normal img-polaroid" %>
    </div>

    <div class="profile-name">
      <%= @user.username %>
    </div>
    <div class="sns-button-group">
      <%= link_to "http://www.facebook.com/#{@user.uid}" do %>
          <%= image_tag "http://www2.myacpa.org/images/stories/Facebook-icon.png", :style => "width:50px;height:50px" %>
      <% end %>
      <% if current_user != @user %>
        <%= render :partial => '/followings/following_button', :locals => {:user => @user} %>
      <% end %>
    </div>
  </div>
  <br>
  <div class="clear-both"></div>
  <% if @user.introduce.present? %>
    <div class="introduce border round">
      <%= @user.introduce_html %>
    </div>
  <% end %>

  <div class="button-group">
    <% if current_user == @user %>
      <%= link_to "Edit", edit_user_registration_path, :class=> "btn" %>
      <%= link_to "Logout", destroy_user_session_path, :method => :delete,  :class => "btn btn-danger" %>
    <% else %>
      <%= link_to "Glorify!", new_compliment_path(:compliment => {:receiver_id => @user.id}), :class => "btn btn-success btn-bravo" %>
    <% end %>
  </div>

  <ul id="stamps">
    <% @user.user_stamps.limit(6).each do |user_stamp| %>
      <li class="stamp">
        <%= link_to render(user_stamp.stamp), user_stamp %>
        <br>
        <div class="info">
          Level <%= user_stamp.level %>
          <div class="progress">
            <div class="bar" style="width: <%= user_stamp.percentage_for_next_level %>%;"></div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>

  <% if @user.user_stamps.count > 6 %>
    <%= link_to "more", "", :class => "btn btn-more" %>
  <% end %>

  <div class="bottom-button-group">
    <%= link_to "Following(#{@user.followings.count})", user_profile_followings_path(@user, :type => "followees"), :class => "btn" %>
    <%= link_to "Followers(#{@user.followers.count})", user_profile_followings_path(@user, :type => "followers"), :class => "btn" %>
  </div>
</div>

<% if @user.email == "pbs52@hanmail.net" || @user.email == "choi0hun@gmail.com"  %>
<div id="personal_feed">

  <%= render :partial => 'personal_feed', :locals => {:feed => @personal_feed } %>
</div>
<%= paginate @personal_feed %>
<% end %>
