<div class="user-profile">
  <table class="table">
    <tbody>
      <tr>
        <td rowspan=3>
          <%= image_tag @user.image_url, :class => "img-small img-polaroid" %>
        </td>
        <td>
          <h3><%= @user.username %></h3>
        </td>
        <td>
          <br>
          <%= link_to "http://www.facebook.com/#{@user.uid}" do %>
              <%= image_tag "http://www2.myacpa.org/images/stories/Facebook-icon.png", :style => "width:25px;height:25px" %>
          <% end %>
        </td>
      </tr>
    </table>
    <table class="table">
      <tr>
        <td colspan=2>
          <% if current_user != @user %>
            <%= link_to "Say Bravo !", new_compliment_path(:compliment => {:receiver_id => @user.id}), :class => "btn btn-success" %>
          <% end %>
        </td>
      </tr>

      <tr>
        <td>
          <div id="following_button">
            <%= render :partial => '/followings/following_button', :locals => {:user => @user} %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <ul id="stamps">
    <% @user.user_stamps.each do |user_stamp| %>
      <li class="stamp">
        <%= link_to render(user_stamp.stamp), user_stamp %>
        <br>
        <div class="info">
          Level <%= user_stamp.level %>
          <div class="progress">
            <div class="bar" style="width: 60%;"></div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <table class="table">
    <tr>
      <td>
        <%= link_to "Followings(#{@user.followings.count})", "", :class => "btn" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "Followers(#{@user.followers.count})", "", :class => "btn" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "", :class => "btn" do %>
          Stamp sent
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "", :class => "btn" do %>
          Stamps From<br><%= current_user.username %>
        <% end %>
      </td>
    </tr>
  </table>
</div>
