<div class="user-profile">
  <table class="table">
    <tbody>
      <tr>
        <td rowspan=3>
          <%= image_tag @user.image_url, :class => "img-small img-polaroid" %>
        </td>
        <td>
          <span class="label label-info"><%= @user.username %></span>
        </td>
      </tr>
      <tr>
        <td>
          Work at Goodoc.co.kr
        </td>
      </tr>
      <tr>
        <td>
          Studied at MJU
        </td>
      </tr>
    </table>
    <table class="table">
      <tr>
        <td colspan=2>
          <% if current_user != @user %>
            <%= link_to "Say Bravo !", new_compliment_path(:compliment => {:receiver_id => @user.id}), :class => "btn btn-success" %>
          <% end %>
        </td>
      </tr>

      <tr>
        <% if current_user.followees.where(:id => @user.id).present? %>
          <td>
            You are following him
          </td>
          <td>
            <%= link_to "unfollow", "", :class => "btn btn-primary"%>
          </td>
        <% elsif current_user != @user %>
          <td colspan=2>
            <%= form_for Following.new(:followee_id => @user.id), :method => :post, :remote => true do |f| %>
              <%= f.hidden_field :followee_id %>
              <%= f.submit "Follow", :class => "btn btn-primary" %>
            <% end %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>

  <ul id="stamps">
    <% @user.user_stamps.each do |user_stamp| %>
      <li class="stamp">
        <%= link_to render(user_stamp.stamp), user_stamp %>
        <br>
        <div class="info">
          Level <%= user_stamp.level %>
          <div class="progress">
            <div class="bar" style="width: 60%;"></div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <table class="table">
    <tr>
      <td>
        <%= link_to "Followings", "", :class => "btn" %>
      </td>
      <td>
        <%= link_to "Followers", "", :class => "btn" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "", :class => "btn" do %>
          Stamp<br>sent
        <% end %>
      </td>
      <td>
        <%= link_to "", :class => "btn" do %>
          Stamps From<br><%= current_user.username %>
        <% end %>
      </td>
    </tr>
  </table>
</div>
