<% if compliment.description.present? %>
  <div class="compliment">
    <div class="profile-picture">
      <%= link_to user_profile_path(compliment.sender) do %>
        <%= image_tag compliment.sender.image_url, :class => "img-circle img-small shadow"%>
        <div class="user-name-label round"><%= compliment.sender.username %></div>
      <% end %>
    </div>
    <div class="desc round border">
      <%= compliment.description %>
    </div>
  </div>
  <div class="clear-float"></div>
<% else %>
  <div class="empty-compliment">
    <div class="profile-picture">
      <%= link_to user_profile_path(compliment.sender) do %>
        <%= image_tag compliment.sender.image_url, :class => "img-circle img-small shadow"%>
        <div class="user-name-label round shadow"><%= compliment.sender.username %></div>
      <% end %>

    </div>
  </div>
<% end %>
