<p id="notice"><%= notice %></p>

<div class="user-stamp-show round border">
  <%= link_to user_profile_path(@user_stamp.user) do %>
    <%= image_tag @user_stamp.user.image_url, :class => "img-small img-circle image-shadow" %><br>
  <% end %>
  <%= render :partial => "/stamps/stamp", :locals => {:stamp => @user_stamp.stamp, :size => 'normal'} %><br>
  <%= @user_stamp.stamp.description %><br>
  <span class="badge badge-info">Level : <%= @user_stamp.level %></span><br>
  <span class="label">Score : <%= @user_stamp.score %></span>
</div>

<div id="compliments">
  <% @user_stamp.compliments.each do |compliment| %>
    <table>
      <tr>
        <td class="profile-picture">
          <%= link_to user_profile_path(compliment.sender) do %>
            <%= image_tag compliment.sender.image, :class => "img-circle img-small shadow"%><br>
            <span class="badge badge-info"><%= compliment.sender.username %></span>
          <% end %>
        </td>
        <td class="desc">
          <div class="alert alert-info">
            <%= compliment.description[0..20] %>
          </div>
        </td>
      </tr>
    </table>
  <% end %>
</div>
