<p id="notice"><%= notice %></p>

<div class="user-stamp-show round border">
  <%= link_to user_profile_path(@user_stamp.user) do %>
    <%= image_tag @user_stamp.user.image_url, :class => "img-small img-circle image-shadow" %><br>
  <% end %>
  <%= render :partial => "/stamps/stamp", :locals => {:stamp => @user_stamp.stamp, :size => 'normal'} %><br>
  <%= @user_stamp.stamp.description %><br>
  <h4>Level <%= @user_stamp.level %></h4>
  <div class="progress">
    <div class="bar" style="width: <%= @user_stamp.percentage_for_next_level %>%;">
    </div>
  </div>
  <small class="score-label"><%= @user_stamp.score %> / <%= @user_stamp.score_for_next_level %></small>

</div>

<% if @compliments.present? %>
<div id="compliments">
  <%= render :partial => "/user_stamps/compliment", :collection =>  @compliments %>
</div>
<%= paginate @compliments %>
<% else %>
  <h4>No compliment belongs to this trophy, it's going to be removed in 24 hours</h4>
<% end %>
