<!DOCTYPE html>
<html>
<head>
  <title>StartGlory</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body id="session">
  <div id="what-you-can-do">
    <%= render :partial => "layouts/presentation" %>
    <div id="button-bar">
      <%= link_to "#", :id => "btn-what-you-can-do", :class => "btn btn-success" do  %>
        <i class="icon-arrow-down"></i>&nbsp;&nbsp;How this work?&nbsp;&nbsp;<i class="icon-arrow-down"></i>
      <% end %>
    </div>
  </div>
  <div id="title">
    <h1>Startglory</h1>
    <br>
    <div class="copy">Have fun <span class="important">glorifying</span> your friends</div>
    <br>
    <p>
      <b><%= User.count %></b> people are waiting to be <span class="important">glorified</span>
    </p>
  </div>
  <div id="wrapper">
    <div id="center-circle">
      <%= link_to "/users/auth/facebook", :class => "btn btn-primary btn-sign" do %>
        Sign in with <i class="icon-facebook"></i>acebook
      <% end %>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div id="policy">
      <%= link_to "Privacy policy", privacy_policy_path, :class => "btn btn-mini", :id => "policy_btn", :target => "_blank" %>
      <%= link_to "Introduce", about_path, :class => "btn btn-info btn-mini", :id => "intro_btn", :target => "_blank" %>
    </div>
  </div>
  </body>
</html>
