<!DOCTYPE html>
<html>
<head>
  <title>StartGlory</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body id="session">
  <div id="title">
    <h1>Startglory</h1>
    <br>
    <p>
      <%= User.count %> people are waiting for your compliment
    </p>
    <br>
    <p>
      <h5>We never post on your Facebook without your permission.</h5>
      <%= link_to "Privacy policy", privacy_policy_path, :class => "btn", :target => "_blank" %>
    </p>
  </div>
  <div id="wrapper">
    <div id="center-circle">
      <%= link_to "Sign in with Facebook", "/users/auth/facebook", :class => "btn btn-success btn-sign" %>
    </div>
  </div>
</body>
</html>
