<div id="compliment-form", class="round border">
  <%= form_for(@compliment) do |f| %>
    <% if @compliment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@compliment.errors.count, "error") %> prohibited this compliment from being saved:</h2>
        <ul>
        <% @compliment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="text-center">
      <%= image_tag f.object.receiver.image_url(width:100, height:100), :class => "img-normal img-circle image-shadow" %>
    </div>
    <br>
    <div id="stamp-field">
      <h2>What do you think of <%= @compliment.receiver.username %>? </h2>
      <h1 class="stamp-title">
        <%= @compliment.stamp.title %>
      </h1>

      <span class="text-length-view" data-field="stamp_text"></span>
      <div class="row-fluid stamp-fields">
        <%= f.hidden_field :receiver_id %>
        <%= f.hidden_field :stamp_id, :class => "stamp-id" %>
      </div>
    </div>

    <div id="reason-field">
      <br>
      <h2>Any Reason?</h2>
      <div class="row-fluid">
        <%= f.text_area :description, :placeholder => "(optional)",:class => "span12 reason-field limited-text", :data => {:limit => 400} %>
      </div>
      <span class="text-length-view" data-field="compliment_description"></span>
    </div>
    <div class="actions text-center">
      <%= f.submit "OK", :class => "btn btn-primary btn-large" %>
    </div>
  <% end %>
</div>
