<%= form_for(@compliment) do |f| %>
  <% if @compliment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compliment.errors.count, "error") %> prohibited this compliment from being saved:</h2>

      <ul>
      <% @compliment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sender_id %><br />
    <%= f.text_field :sender_id %>
  </div>
  <div class="field">
    <%= f.label :receiver_id %><br />
    <%= f.text_field :receiver_id %>
  </div>
  <div class="field">
    <%= f.label :stamp %><br />
    <%= f.text_field :stamp %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
