<%= form_for(@compliment) do |f| %>
  <% if @compliment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compliment.errors.count, "error") %> prohibited this compliment from being saved:</h2>

      <ul>
      <% @compliment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.object.sender.username %>
    <%= f.hidden_field :sender_id %>
  </div>
  <div class="field">
    <%= f.object.receiver.username %>
    <%= f.hidden_field :receiver_id %>
  </div>
  <div class="field">
    <%= f.object.stamp.title %>
    <%= f.hidden_field :stamp_id %>    
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
