<span id="data-bucket" data-receiver_username="<%= @compliment.receiver.username %>"></span>
<div id="compliment-form", class="round border not-fixed">
  <%= form_for(@compliment) do |f| %>
    <% if @compliment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@compliment.errors.count, "error") %> prohibited this compliment from being saved:</h2>
        <ul>
        <% @compliment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="text-center">
      <%= image_tag f.object.receiver.image_url(width:150, height:150), :class => "img-circle image-shadow" %>
    </div>
    <br>
    <div id="stamp-field">
      <h2>What do you think of <%= @compliment.receiver.username %>? </h2>
      <h4>I think <%= @compliment.receiver.username %> <%= select_tag "verb", options_for_select(Stamp::VERBS) %></h4>
      <h1 class="stamp-title hidden">
      </h1>
      <br>

      <div class="create-stamp-fields hidden alert alert-success">
        <span class="guide">
        </span>
        <%= link_to "", stamps_path, :class => "create-stamp-button btn no-loading btn-success", :id => "create-stamp-btn" %>
      </div>

      <div class="row-fluid stamp-fields">
        <%= f.hidden_field :receiver_id %>
        <%= text_field_tag :stamp_text, "", :class => "span12 stamp-text-search limited-text", :data => {:limit => 80} %>
        <span class="text-length-view" data-field="stamp_text"></span>
        <%= f.hidden_field :stamp_id, :class => "stamp-id" %>
        <blockquote>
          <p><small>ex) Nice person, Great singer, Beautiful or Handsome, good at hiking</small></p>
        </blockquote>
          <!-- %= link_to "I can't find stamp I want", new_stamp_path(:compliment => {:receiver_id => f.object.receiver_id}) % -->
      </div>
    </div>


    <div id="reason-field">
      <%= render :partial => 'facebook_checkbox', :locals => {:f => f} %>
      <br>
      <h2 id="reason-title">Detail</h2>
      <div class="row-fluid">
        <%= f.text_area :description, :placeholder => "(optional)",:class => "span12 reason-field limited-text", :data => {:limit => 400} %>
      </div>
      <span class="text-length-view" data-field="compliment_description"></span>
    </div>
    <div class="actions hidden text-center">
      <% if @compliment.receiver.facebook_username.present? %>
        <label class="check_box"><%= f.check_box :notify_by_facebook_message %>Notify to <%= @compliment.receiver.username %> by Facebook message</label><br>
      <% end %>
      <span id="tag-button-box"><%= link_to "Tag #{@compliment.receiver.username}", "#", :class => "tagging-user btn no-loading" %></span>
      <span id="tagged-label" class="label label-info"><%= @compliment.receiver.username %> is tagged</span>
      <%= f.submit "OK", :class => "btn btn-primary btn-large create-compliment" %>
    </div>
  <% end %>
</div>
<div id="create-stamp-popup" class="modal hide fade">
  <div class="modal-header">
    <h3>Select shape of badge</h3>
  </div>
  <div class="modal-body">
    <% @stamps.each do |stamp| %>
      <%= button_tag :id => stamp.default_trophy_image_id, :class => "default-trophy-image-select-button" do %>
        <%= render stamp %>
      <% end %>
    <% end %>
    <br><br>
    <br><br>
    <br><br>
  </div>
</div>
