<h1>Listing compliments</h1>

<table>
  <thead>
    <tr>
      <th>Sender</th>
      <th>Receiver</th>
      <th>Stamp</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @compliments.each do |compliment| %>
    <tr>
      <td><%= compliment.sender_id %></td>
      <td><%= compliment.receiver_id %></td>
      <td><%= compliment.stamp %></td>
      <td><%= compliment.description %></td>
      <td><%= link_to 'Show', compliment %></td>
      <td><%= link_to 'Edit', edit_compliment_path(compliment) %></td>
      <td><%= link_to 'Destroy', compliment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Compliment', new_compliment_path %>
