<p id="notice"><%= notice %></p>

<p>
  <strong>Sender:</strong>
  <%= @compliment.sender.username %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= @compliment.receiver.username %>
</p>

<p>
  <strong>Stamp:</strong>
  <%= @compliment.stamp.title %>
  <%= image_tag @compliment.stamp.image_file if @compliment.stamp.image_file.present? %>
</p>

<p>
  <strong>Description:</strong>
  <%= @compliment.description %>
</p>


<%= link_to 'Edit', edit_compliment_path(@compliment) %> |
<%= link_to 'Back', compliments_path %>
