<p id="notice"><%= notice %></p>

<p>
  <strong>Sender:</strong>
  <%= link_to @compliment.sender.username, user_profile_path(@compliment.sender) %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= link_to @compliment.receiver.username, user_profile_path(@compliment.receiver) %>
</p>

<p>
  <strong>Stamp:</strong>
  <%= link_to @compliment.stamp do %>
    <%= @compliment.stamp.title %>
    <%= image_tag @compliment.stamp.image_file if @compliment.stamp.image_file.present? %>
  <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @compliment.description %>
</p>


<%= link_to 'Edit', edit_compliment_path(@compliment) %> |
<%= link_to 'Back', compliments_path %>
