<div id="dash-body">
  <div id="dash-menu">
    <ul class="nav nav-pills nav-stacked">
      Summary 
      <li class="active"><%= link_to 'All Summary', '#', :remote => true %> </li>

    </ul>
    <hr />

    <ul class="nav nav-pills nav-stacked">
      User 
      <li><%= link_to 'All User', '#', :remote => true %> </li>
      <li><%= link_to 'Active User', '#', :remote => true %> </li>
      <li><%= link_to 'NonActive User', '#' %> </li>
      <li><%= link_to 'New User', '#' %> </li>
    </ul>
    <hr />
    <ul class="nav nav-pills nav-stacked">
      Stamp
      <li><%= link_to 'Stamp Rank', '' %> </li>
      <li><%= link_to 'New Stamp', '' %> </li>
    </ul>
    <hr />
    <ul class="nav nav-pills nav-stacked">
      Compliment
      <li><%= link_to 'Two day Ago', '' %> </li>
      <li><%= link_to 'Yesterday', '' %> </li>
      <li><%= link_to 'Today', '' %> </li>
      <li><%= link_to 1.months.ago.strftime("%B"), '' %> </li>
      <li class><%= link_to Date.today.strftime("%B"), '' %> </li>
      <li><%#= link_to 1.month.from_now.strftime("%B"), '' %> </li>
    </ul>
    <hr />
  </div>
  
  <div id="dash-content" >
    <% if params[:new_user].present? %>
      <%= render :partial => 'new_user', :locals => { :user => @new_user }%>
    <% else %>

    <table class ="table table-hover ">
      <tr>
        <td></td>
        <% (0..6).reverse_each do |i| %>
          <% if i == 0 %>
            <td class="dash-table-title"> Today </td>
          <% elsif i == 1 %>
            <td class="dash-table-title"> YesteDay</td>
          <% else %>
              <td class="dash-table-title"><%=i%> Day ago </td>
          <% end %>
            <% end %>
            <td> Total </td>
      </tr>
      <%= render :partial => 'new_content', :locals=>{:title => 'new Compliment', :data => @new_compliment} %>
      <%= render :partial => 'new_content', :locals=>{:title => 'new User', :data => @new_user, :active => @new_active_user} %>
      <%= render :partial => 'new_content', :locals=>{:title => 'new Stamp', :data => @new_stamp} %>
      <%= render :partial => 'new_content', :locals=>{:title => 'new UserStamp', :data => @new_user_stamp} %>
      <%= render :partial => 'new_content', :locals=>{:title => 'new Comment', :data => @new_comment} %>
     
  </table>
<% end %>
  </div>
</div>



