<%= form_for [:admin, @user], :html => { :class => "form-horizontal" } do |f| %>


  <div class="control-group">
    <label class="control-label">Name</label>
    <div class="controls">
      <label>
      <%= text_field_tag "user[username]", f.object.username %></label>
    </div>
    <label class="control-label">Email</label>
    <div class="controls">
      <label><%= f.text_field :email %></label>
    </div>
    <label class="control-label">Block</label>
    <div class="controls">
        <%= f.check_box(:is_blocked ) %>
      Block User
    </div>
    <br />
    <label class="control-label">Admin</label>
    <div class="controls">
      <%= f.radio_button :user_admin_type,0, :checked=> f.object.user_admin_type ==0 %>User
      <%= f.radio_button :user_admin_type,1, :checked=> f.object.user_admin_type == 1 %>Spcialist
      <%= f.radio_button :user_admin_type,2, :checked=> f.object.user_admin_type == 2 %>Admin
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit (@user.new_record?? 'Create' : 'Update' ), :class => "btn btn-primary" %>
    <%= link_to "cancel", admin_users_path, :class => "btn" %>
  </div>
<% end %>
