<%= form_for [:admin, @user], :html => { :class => "form-horizontal" } do |f| %>


  <div class="control-group">
    <label class="control-label">Name</label>
    <div class="controls">
      <label><%= f.text_field :username %></label>
    </div>
    <label class="control-label">Email</label>
    <div class="controls">
      <label><%= f.text_field :email %></label>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit (@user.new_record?? 'Create' : 'Update' ), :class => "btn btn-primary" %>
    <%= link_to "cancel", admin_users_path, :class => "btn" %>
  </div>
<% end %>
