<table class ="table table-hover">
  <thead>
      <tr>
        <th>Name</th>
        <th>Mail</th>
        <th>Blocked </th>
        <th>Point</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
          <tr>
          <td>
            <%= link_to "http://www.facebook.com/#{user.uid}", :target => '_blank' do %>
              <%= image_tag "http://www2.myacpa.org/images/stories/Facebook-icon.png", :style => "width:30px;height:30px" %>
            <% end %>
            <%= link_to user.username, user_profile_path(user) %>
          </td>
          <td>
            <%= user.email %>
          </td>
          <td> 
            <% if user.is_blocked == true %>
              O
            <%end%>
          </td>

          <td><%= user.user_point %> </td>
          <td>
            <div class="btn-group">
              <%= link_to "수정", [:edit, :admin, user], :class => "btn" %>
              <%= link_to '삭제', admin_user_path(user), :confirm => '정말 삭제 하시겠습니까?', :method => :delete, :class => "btn btn-danger" %>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
