<%= form_tag admin_users_path, :method => :get, :class => "form-search" do %>
  <div class="search_field">
  <label class="text_search">
    <%= text_field_tag :q, "", :class => "input-medium search-query" %>
  </label><br/>
  <label class="active_user_search">
    <%= check_box_tag :active, "1", params[:active].present? %> Active User
    <% if params[:active].present? %>
      ( total : <%= User.where(:status => 1).count %> )
    <% end %>
  </label>
    <br>
    <label calss="radio-button">
      <%= radio_button_tag "gender", 0, params[:gender] == "0" %>Male
    </label>
    <label calss="radio-button">
      <%= radio_button_tag "gender", 1,  params[:gender] == "1" %>Female
    </label>
    <br>
    Locale:
    <%= select_tag "local", options_from_collection_for_select(User.group("users.local").select("users.local"), "local", "local") %>

    <%= submit_tag "Search", :class => "btn btn-primary" %>
  </div>
<% end %>
<div class="clearfix"></div>
<%= render 'user'  %>
 
<%= paginate @users %>
