<% if flash[:compliment] %>
  <div id="toast">
    Compliment Limit is 10 a day. 
  </div>

  <script type="text/javascript" >
$(function () {
$('#toast').fadeIn();
   setTimeout(function(){
         // $("#toast").addClass("hidden");
                $('#toast').fadeOut("slow");
   },5000);
});
  </script>

<% end %>
<div id="glorify-button-bar", class="round">
  <%= link_to "Glorify!", receivers_path, :class => "btn btn-success" %>
</div>
<!-- div id="recommendations">
  <%#<% if current_user.friends.present? %>%>
    <%#<%= render :partial => "/people/recommendations", :locals => {:friends => current_user.friends.sample(3)} %>%>
  <%#<% else %>%>
    <%#<h4>We are bringing your friends from facebook....</h4>%>
    <%#<%= image_tag "/ajax-loader.gif" %>%>
  <%#<% end %>%>
</div -->
<div id="news_feeds">
  <%= render @news_feeds %>
</div>
<%= paginate @news_feeds %>

<div id="ask-opinion-popup" class="modal hide fade">
  <div class="modal-header">
    <h3>Do you want to ask to your friends about how they think of you?</h3>
  </div>
  <div class="modal-body">
    It'll post on your facebook timeline<br>
    ex) <br>
    <%= image_tag "/opinion_example.png" %>
    <br>
    <div class="actions">
      <%= link_to "Yes", "#", :id => "yes-button", :class => "btn btn-success no-loading", :data => {:dismiss => "modal"}, "area-hidden" => true %>
      <%= link_to "No", "#", :data => {:dismiss => "modal"}, :class => "no-loading btn", "area-hidden" => true %>
    </div>
  </div>
</div>
