<table class ="table table-hover">
  <thead>
      <tr>
        <th>Title</th>
        <th>Desc</th>
        <th>Trophy_Image </th>
        <th>Count</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @stamps.each do |stamp| %>
          <tr>
            <td><%=stamp.title%></td>
            <td><%=stamp.description%></td>
            <td><%= render :partial => "stamp_image", :locals => {:stamp =>  stamp, :size => "small"} %></td>
            <td><%=stamp.user_stamps.count %></td>
          <td>
            <div class="btn-group">
              <%= link_to "수정", [:edit, :admin, stamp], :class => "btn" %>
              <%= link_to '삭제', admin_stamp_path(stamp), :confirm => '정말 삭제 하시겠습니까?', :method => :delete, :class => "btn btn-danger" %>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
