<!DOCTYPE html>
<html>
<head>
<title>StartGlory</title>

  <%= stylesheet_link_tag "admin/application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "admin/application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>

  <div id="screen-container">
    <div id="title-menu-bar" class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to root_path, :class => "brand pull-left" do %>
            StartGlory
          <% end %>
          <ul class="nav pull-right">

            <li class="<%= "active" if params[:controller] == "admin/users" %>">
              <%= link_to admin_users_path, :class => "btn btn-navbar" do %>
                <i class=icon-user> </i>
              <% end %>
            </li>


            <li class=<%= "active" if params[:controller] == 'admin/stamps' %>>
              <%= link_to admin_stamps_path, :class => "btn btn-navbar" do %>
                <i class=icon-certificate></i>
              <% end %>
            </li>
            <li class=<%= "active" if params[:controller] == 'admin/compliments' %>>
              <%= link_to admin_compliments_path, :class => "btn btn-navbar" do %>
                <i class=icon-edit></i>
              <% end %>
            </li>
            <li class=<%= "active" if params[:controller] == 'admin/default_trophy_images' %>>
              <%= link_to admin_default_trophy_images_path, :class => "btn btn-navbar" do %>
                <i class=icon-picture></i>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="nav-collapse collapse">

          <ul class="nav">
            <li class="hidden-phone hidden-tablet <%= "active" if params[:controller] == 'admin/users' %>">
              <%= link_to admin_users_path do %>
                <i class=icon-user></i>
               Users 
              <% end %>
            </li>
            <li class=<%= "active" if params[:controller] == 'admin/stamps' %>>
              <%= link_to admin_stamps_path do %>
                <i class="icon-certificate"></i>
                Glories
              <% end %>
              </li>
            <li class=<%= "active" if params[:controller] == 'admin/compliments' %>>
              <%= link_to admin_compliments_path do %>
                <i class="icon-edit"></i>
                Compliments
              <% end %>
              </li>
            <li class=<%= "active" if params[:controller] == 'admin/default_trophy_images' %>>
              <%= link_to admin_default_trophy_images_path do %>
                <i class="icon-picture"></i>
                TrophyImage
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>

  <div id='content-container admin-container'>
    <%= yield %>
  </div>
</div>
<div class="ajax-loader">
  <%= image_tag '/ajax-loader.gif' %>&nbsp;&nbsp;LOADING
</div>


</body>
</html>
