<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# profile: http://ogp.me/ns/profile#">
  <title>StartGlory</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="latitude" content="">
  <meta name="longitude" content="">

  <meta property="fb:app_id" content="<%= $fb_app_id %>" /> 
  <meta property="og:title" content="<%= @og_title || 'StartGlory' %>" />
  <meta property="og:type" content="<%= @og_type || "website" %>" />
  <meta property="og:url" content="<%= @og_url || "http://www.startglory.com" %>" />
  <meta property="og:image" content="<%= @og_image || 'http://www.startglory.com/small_logo.jpg' %>" />
  <meta property="og:site_name" content="<%= "StartGlory" %>" />
  <meta property="og:description" content="<%= @og_description || "StartGlory - Get compliment from your friends" %>" />
  <meta property="og:locale:alternate" content="en_US" />

  <% if @user.present? %>
    <meta property="profile:first_name" content="<%= @user.first_name %>" />
    <meta property="profile:last_name" content="<%= @user.last_name %>" />
    <meta property="profile:username" content="<%= @user.username %>" />
    <% if @user.gender.present? %>
      <meta property="profile:gender" content="<%= @user.gender %>" />
    <% end %>
    <meta property="fb:profile_id" content="<%= @user.sns_connections.first.uid %>" />
    <meta property="og:updated_time" content="<%= @user.updated_at %>" />
  <% end %>

  <% if @compliment.present? %>
    <% user = @compliment.receiver %>
    <meta property="profile:first_name" content="<%= user.first_name %>" />
    <meta property="profile:last_name" content="<%= user.last_name %>" />
    <meta property="profile:username" content="<%= user.username %>" />
    <% if user.gender.present? %>
      <meta property="profile:gender" content="<%= user.gender %>" />
    <% end %>
    <meta property="fb:profile_id" content="<%= user.sns_connections.first.uid %>" />
    <meta property="og:updated_time" content="<%= user.updated_at %>" />
  <% end %>



  <meta name="keywords" content="<%= @keyword || "glory, glorify, compliment, positive, friend, skill, recruit, level, exp" %>">
  <meta name="description" content="<%= @description || "Get compliments from your friends" %>">
  
</head>
<body>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42951477-1', 'startglory.com');
    ga('send', 'pageview');

  </script>
  <div id="screen-container">
    <div id="title-menu-bar" class="navbar navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to root_path, :class => "brand pull-left" do %>
            <%= image_tag "/startglory_small_logo.jpg" %>
          <% end %>
          <ul class="nav pull-right">

            <li class="<%= "active" if params[:controller] == "mypage" %>">
              <%= link_to user_profile_path(current_user), :class => "btn btn-navbar" do %>
                <%= image_tag current_user.image_url, :style => "width:25px" %>
              <% end %>
            </li>

            <li class=<%= "active" if params[:controller] == 'news_feeds' %>>
              <%= link_to news_feeds_path, :class => "btn btn-navbar" do %>
                <% if cookies[:last_news_feed_id].present? && current_user.news_feeds.present? && current_user.news_feeds.last.id > cookies[:last_news_feed_id].to_i %>
                  <div class="orange-red new-icon">N</div>
                <% end %>
                <i class=icon-rss></i>

              <% end %>
            </li>

            <li class=<%= "active" if params[:controller] == 'people' %>>
              <%= link_to people_path, :class => "btn btn-navbar" do %>
                <i class=icon-user></i>
              <% end %>
            </li>
            <li>
              <%= link_to :class => "btn btn-navbar", :data => {:toggle => "collapse", :target => ".nav-collapse"} do %>
                <span class="icon-list"></span>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="nav-collapse collapse">

          <ul class="nav">
            <li class="hidden-phone hidden-tablet">
              <%= link_to user_profile_path(current_user) do %>
                <%= image_tag current_user.image_url, :style => "width:25px" %>
                My page
              <% end %>
            </li>

            <li class="hidden-phone hidden-tablet <%= "active" if params[:controller] == 'news_feeds' %>">
              <%= link_to news_feeds_path do %>
                <% if cookies[:last_news_feed_id].present? && current_user.news_feeds.present? && current_user.news_feeds.last.id > cookies[:last_news_feed_id].to_i %>
                  <div class="orange-red new-icon">N</div>
                <% end %>
                <i class=icon-envelope></i>
                News Feed
              <% end %>
            </li>
            <li class="hidden-phone hidden-tablet <%= "active" if params[:controller] == 'people' %>">
              <%= link_to people_path do %>
                <i class=icon-user></i>
                People
              <% end %>
            </li>
            <li class=<%= "active" if params[:controller] == 'stamps' %>>
              <%= link_to stamps_path do %>
                <i class="icon-trophy"></i>
                Glories
              <% end %>
              </li>
              <li>
                <%= link_to about_path do %>
                  <i class="icon-info-sign"></i>
                  About
                <% end %>
              </li>
              <% if current_user != nil && current_user.user_admin_type != 0 %>
                <li>
                  <%= link_to admin_users_path do %>
                    <i class="icon-wrench"></i>
                    Admin 
                  <% end %>
                </li>
              <%end %>
          </ul>
        </div>
      </div>
    </div>

  <div id='content-container'>
    <%= yield %>
  </div>
</div>
<div class="ajax-loader">
  <%= image_tag '/ajax-loader.gif' %>&nbsp;&nbsp;LOADING
</div>
</body>
</html>
