<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# profile: http://ogp.me/ns/profile#">
  <meta property="fb:app_id" content="<%= $fb_app_id %>" /> 
  <meta property="og:title" content="<%= @og_title || 'StartGlory' %>" />
  <meta property="og:type" content="<%= @og_type || "website" %>" />
  <meta property="og:url" content="<%= @og_url || "http://www.startglory.com" %>" />
  <meta property="og:image" content="<%= @og_image || 'http://www.startglory.com/small_logo.jpg' %>" />
  <meta property="og:site_name" content="<%= @og_title || "StartGlory" %>" />
  <meta property="og:description" content="<%= @og_description || "StartGlory - Get compliment from your friends" %>" />
  <meta property="og:locale:alternate" content="en_US" />
  
  <% if @user.present? %>
    <meta property="profile:first_name" content="<%= @user.first_name %>" />
    <meta property="profile:last_name" content="<%= @user.last_name %>" />
    <meta property="profile:username" content="<%= @user.username %>" />
    <% if user.present? %>
    13  <meta property="profile:gender" content="<%= @user.gender %>" />
    <% end %>
    <meta property="fb:profile_id" content="<%= @user.sns_connections.first.uid if @user.sns_connections.present? %>" />
    <meta property="og:updated_time" content="<%= @user.updated_at %>" />
  <% end %>

  <% if @compliment.present? %>
    <% user = @compliment.receiver %>
    <meta property="profile:first_name" content="<%= user.first_name %>" />
    <meta property="profile:last_name" content="<%= user.last_name %>" />
    <meta property="profile:username" content="<%= user.username %>" />
    <% if user.gender.present? %>
      <meta property="profile:gender" content="<%= user.gender %>" />
    <% end %>
    <meta property="fb:profile_id" content="<%= user.sns_connections.first.uid %>" />
    <meta property="og:updated_time" content="<%= user.updated_at %>" />
  <% end %>

  <title>StartGlory</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="hero-unit text-center">
    <h1>StartGlory</h1>
    <%= link_to "Sign in with Facebook", "/users/auth/facebook", :class => "btn btn-primary btn-mini" %>
  </div>
  <div>
    <%= yield %>
  </div>
</body>
</html>

